@using Microsoft.AspNetCore.Identity
@inject SignInManager<EventBudgetPlanner.Web.Models.ApplicationUser> SignInManager
@inject UserManager<EventBudgetPlanner.Web.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var displayName = User.Identity?.Name;
    {
        var currentUser = await UserManager.GetUserAsync(User);
        if (!string.IsNullOrWhiteSpace(currentUser?.FullName))
        {
            displayName = currentUser!.FullName;
        }
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index" title="Profile">Hello @displayName!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
